body {
	background-color: black;
	align: center;
	text-align: center;
	font-family: verdana;
	font-weight: normal;
	color: white;
	}

h1 {
	font-size: 50px;
}

h2 {
	
	font-size: 42px;
	font-weight: 300;
	line-height: 0.01;
}

h3 {
	font-size: 21px;
	color: gray;
	font-weight: 100;
}

a {
	color: aquamarine;
	font-size: 16px;
	font-family: verdana;
}